a {
  color: #f2e9ce;
}
footer {
  background-color: #332924;
}
ul {
  list-style: none;
  color: #f2e9ce;
  font-size: 20px;
}
h3 {
  color: #f2e9ce;
}

p {
  color: #f2e9ce;
  font-size: 20px;
}

.div1,
.div2,
.div3 {
  border: 1px solid #f2e9ce;
  padding: 1em;
}

.div2 {
  display: flex; /* Bruger Flexbox */
  flex-direction: column; /* Stabler elementerne i en kolonne */
  align-items: center; /* Centrerer elementerne horisontalt */
  padding: 10%;
}
.some {
  display: flex;
  justify-content: space-between;
  width: 30%;
  max-width: 200px;
  margin-top: 10px;
}

.logo {
  width: 100%;
  max-width: 300px;
  height: auto;
  justify-content: center;
}

.div1 {
  border: 1px solid #f2e9ce;
  padding: 1em;
  line-height: 260%;
}

.div1 h3 {
  text-align: center;
  margin: 0 0 10px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dage,
.tider {
  width: 45%;
  padding: 0;
  margin: 10%;
  list-style: none;
}

.dage {
  text-align: left;
}

.tider {
  text-align: right;
}

.div3 h3 {
  text-align: center;
}

h3 {
  font-size: 25px;
}
@media (min-width: 500px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
  }

  .div1 {
    grid-column: 1;
    line-height: 140%;
  }

  .div2 {
    grid-column: 2;
  }

  .div3 {
    grid-column: 3;
  }

  a {
    padding-top: 30%;
    scale: 160%;
  }
  .some {
    width: 40%;
  }
}
