@font-face {
  font-family: DMSerif;
  src: url(../font/dmserifdisplay-regular-webfont.woff2);
}

@font-face {
  font-family: Kadwa;
  src: url(../font/kadwa-regular-webfont.woff2);
}

html {
  --color1: #732e1f;
  --color2: #d93814;
  --color3: #f27649;
  --color4: #261f1b;
  --color5: #f2e9ce;
  --color6: #332924;
}

html,
body {
  margin: 0 auto;
}

p {
  font-family: Kadwa;
}

h1, h2, h3 {
  font-family: DMSerif;
}