body {
  background: var(--color6);
}
.hero {
  background-image: url("../img/heroimage.webp");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box_2 h3 {
  color: white;
  font-size: 30px;
}
.box_2 p {
  color: white;
  line-height: 2em;
  font-size: 24px;
}
.box_1 {
  background-color: #d93814;
  margin-top: 2em;
}
.box_1 img {
  width: 450px;
  margin-left: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.box_2 {
  background-color: #f27649;
  margin-top: 2em;
  padding: 3.5em;
}
.box_3 {
  background-color: #732e1f;
  margin-bottom: 2em;
}
.box_4 {
  background-color: #f2e9ce;
  margin-bottom: 2em;
}
.box_4 img {
  width: 400px;
  height: 500px;
  display: block;
}
.slider {
  margin: 0.5%;
  width: 200%;
  overflow: hidden;
}
.slider-container {
  display: flex;
  width: 800px;
  height: 600px;
  animation: slide 16s linear infinite;
}
.slide {
  min-width: 50%;
  transition: transform 9s ease;
}
.slide img {
  width: 400px;
  height: 500px;
  display: block;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* LAYOUT */
.section_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section_3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 500px) {
  .hero {
    background-image: url("../img/heroimage.webp");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
