body {
  background: var(--color6);
}

.box_2 h3 {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 2em;
}

.box_2 p {
  color: white;
  line-height: 1.7em;
  font-size: 20px;
  text-align: center;
  padding-top: 1em;
}
/* desktop */
@media (min-width: 733px) {
  .hero {
    background-image: url("../img/heroimage.webp");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box_1 {
    background-color: #d93814;
    margin-top: 2.5em;
  }
  .box_1 img {
    width: 350px;
    height: 350px;
    margin-left: 9em;
    margin-top: 1.3em;
    margin-bottom: 1em;
  }
  .box_2 {
    background-color: #f27649;
    margin-top: 2.5em;
  }
  .box_3 img {
    width: 350px;
    height: 350px;
    margin-left: 9em;
    margin-top: 1.3em;
    margin-bottom: 1em;
  }
  .box_4 img {
    width: 500px;
    height: 350px;
    margin-left: 5em;
    margin-top: 1.3em;
    margin-bottom: 1em;
  }
  .box_3 {
    background-color: #732e1f;
    margin-bottom: 2.5em;
  }
  .box_4 {
    background-color: #f2e9ce;
    margin-bottom: 2.5em;
  }

  .slider {
    margin: 0.5%;
    margin-bottom: 0.5%;
    width: 200%;
    overflow: hidden;
    background-color: #d93814;
    margin-bottom: 2.5em;
  }
  .slider-container {
    display: flex;
    width: 800px;
    height: 400px;
    animation: slide 20s linear infinite;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .slide {
    min-width: 50%;
    transition: transform 15s ease;
  }
  .slide img {
    padding: 0.5em;
    max-width: 100%;
    display: block;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-350%);
    }
  }
  /* LAYOUT */
  .section_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .section_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* mobile */
@media (max-width: 732px) {
  .hero {
    background-image: url("../img/heroimage.webp");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box_1 img {
    width: 350px;
    margin-left: 3em;
  }
  .box_1 {
    background-color: #d93814;
    margin-top: 2.5em;
    padding-bottom: 2em;
    padding-top: 2em;
  }

  .box_2 {
    background-color: #f27649;
    padding-bottom: 2em;
    padding-top: 2em;
  }

  .box_3 {
    background-color: #732e1f;
    padding-bottom: 2em;
    padding-top: 2em;
  }
  .box_4 {
    background-color: #f2e9ce;
    margin-bottom: 2.5em;
    padding-bottom: 2em;
    padding-top: 2em;
  }

  .box_3 img {
    width: 350px;
    margin-left: 3em;
  }
  .box_4 img {
    width: 350px;
    margin-left: 3em;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
  }
  .slider {
    margin: 0.5%;
    margin-bottom: 0.5%;
    width: 100%;
    overflow: hidden;
    background-color: #d93814;
    margin-bottom: 2.5em;
  }
  .slider-container {
    display: flex;
    width: 800px;
    height: 400px;
    animation: slide 10s linear infinite;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .slide {
    min-width: 50%;
    transition: transform 9s ease;
  }
  .slide img {
    padding: 0.5em;
    max-width: 100%;
    display: block;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }
}

iframe {
  width: 350px;
    height: 350px;
    margin-left: 9em;
    margin-top: 1.3em;
    margin-bottom: 1em;
    border: none;
}