body {
    background-color: var(--color5);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

.col{
    align-items: center;
    padding-left: 20cap;
    padding-right: 20cap;
    padding-bottom: 1cap;
}
iframe {
    height: 1450px;
    width: 1015px;
      border: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  }

  