body {
    background-color: var(--color5);
}

img, iframe {
    max-width: 100%;
    height: auto;
    display: block;
}

.col{
    align-items: center;
    padding-left: 20cap;
    padding-right: 20cap;
    padding-bottom: 1cap;
}
iframe {
    height: 1450px;
    width: 1015px;
      border: none;
  overflow: hidden;
  display: block;
  }

