.section1 {
  background-color: var(--color2);
}
.section2 {
  background-color: var(--color4);
}

.omosbil {
  width: 650px;
  padding: 5%;
}

@media (max-width: 500px) {
  .section2 {
    display: block;
    text-align: center;
  }

  .section2 img {
    max-width: 80%;
    max-height: auto;
  }
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 6%;
  color: #f2e9ce;
}

.video-section {
  display: flex; /* Brug Flexbox-layout */
  justify-content: center; /* Centrer indholdet horisontalt */
  align-items: center; /* Centrer indholdet vertikalt */
  background-color: var(--color5); /* Tilføj din ønskede baggrundsfarve */
}

.video-section .videodiv {
  width: 100%; /* Fyld hele bredden af video-section */
  height: 100%; /* Fyld hele højden af video-section */
}

.video-section video {
  width: 100%; /* Fyld hele bredden af video-elementet */
  height: 100%; /* Fyld hele højden af video-elementet */
}

@media (min-width: 500px) {
  .omosp {
    grid-column: 1;
  }

  .section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .section2 p {
    grid-column: 1;
  }
  .section2 img {
    grid-column: 2;
  }

  .section2 {
    display: flex; /* Brug Flexbox-layout */
    justify-content: center; /* Centrer indholdet horisontalt */
    align-items: center; /* Centrer indholdet vertikalt */
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  p {
    margin: 0;
    padding: 2%;
  }
  h2 {
    margin-top: 20px;
  }
  .section1 {
    grid-column: 1;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "section1 video-section"
      "section2 section2";
  }

  h1 {
    grid-area: header;
    width: 100%;
    text-align: left;
  }

  .section1 {
    grid-area: section1;
  }

  .video-section {
    grid-area: video-section;
  }

  .section2 {
    grid-area: section2;
    width: 100%;
  }

  .video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color5);
  }

  .video-section .videodiv {
    width: 80%;
    max-width: 800px;
    padding: 5%;
  }

  .video-section video {
    width: 100%;
    height: auto;
  }
}
